# Build results
[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
x64/
x86/

# Thư mục build tạm thời
bin/
obj/

# Thư mục xuất ra khi publish
publish/

# Các tệp của Visual Studio
.vscode/
.vs/
*.user
*.suo
*.userosscache
*.sln.docstates
*.csproj.user
*.csproj.pidb

# Thư mục chứa các gói nuget đã restore
packages/
*.nupkg
*.snupkg

# File lock của NuGet
project.lock.json
project.fragment.lock.json

# Tệp log của Visual Studio
*.log

# File thuộc tính tạm thời khi sử dụng với Entity Framework
*.Designer.cs
*.edmx
*.edmx.sql
*_MigrationHistory*

# Các file tạm của hệ điều hành
*.DS_Store
*.bak
*.tmp
*.swp

# Thư mục node_modules (nếu bạn sử dụng React, Angular)
node_modules/

# File bundle của webpack (nếu sử dụng)
dist/
build/

# Thư mục xuất tạm thời của IIS
IISExpress/
AppData/

# Các file chứa khóa bí mật
appsettings.json
appsettings.*.json
