@using E_Commerce.Application.Response.MovieResponse
@model List<MovieFeedBackResponse>

<div class="review mt-4">
    <h4>Đánh giá của người dùng</h4>
    <ul class="list-unstyled">
        @foreach (var review in Model)
        {
            <li class="me-2 p-2 mb-3 custom-border">
                <div class="d-flex">
                    @for (int i = 0; i < review.Rate; i++)
                    {
                        <i class="fa-regular fa-star"></i>
                    }
                </div>
                <span>Nội dung: @review.Comment</span>
                <div class="d-flex align-items-center mt-2">
                    <span>Người dùng: @review.Users.DisplayName</span>
                </div>
            </li>
        }
    </ul>
</div>
