@using WatchMovie.Application.Response.MovieResponse;
@model List<MovieResponse>
@{
    ViewData["Title"] = "Home Page";
}
<style>
    .banner-container {
        position: relative;
        width: 100%;
    }

    .banner {
        width: 100%;
        height: 670px;
    }

    .overlay {
        position: absolute;
        bottom: 100px;
        left: 50%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        color: white;
        padding: 20px;
        width: 500px;
        color: black;
    }

    .btn-watch {
        background-color: #F0592A;
        color: white;
        border: none;
        border-radius: 30px;
        padding: 0 70px;
        cursor: pointer;
        margin-top: 10px;
        font-size: 16px;
        height: 50px;
        font-weight: bold;
    }

    .input-group .btn {
        border-radius: 0 25px 25px 0; 
    }

    .btn-search {
        background-color: white !important;
        border-left: none;
        border-color: black;
        color: black !important;
    }

    .form-control{
        border-radius: 25px 0 0 25px;
        border-color: black;
    }

    .keyword {
        display: flex;
        gap: 10px;
    }

    .keyword-item {
        background-color: #f0f0f0;
        padding: 3px 8px;
        border-radius: 10px;
        cursor: pointer;
        transition: background-color 0.3s ease, font-weight 0.3s ease;
    }

    .keyword-item:hover {
        background-color: #F5F5F5;
        color: #757575;
    }

    .keyword-item.selected {
        background-color: #2C2C2C;
        color: white;
        font-weight: bold;
    }

    .card {
        border: 1px solid #000; 
        border-radius: 8px;
        overflow: hidden;
        height: auto;
    }

    .card-img-top {
        width: 100%; 
        height: 200px; 
        object-fit: cover; 
    }

    .title-movie {
        white-space: nowrap; 
        overflow: hidden; 
        text-overflow: ellipsis; 
        max-width: 100%; 
    }

    .keyword-item {
        white-space: nowrap; 
        overflow: hidden; 
        text-overflow: ellipsis; 
        max-width: 100%; 
    }

    .movie-cart {
        margin: 20px 0;
    }

    .title-movie a{
        color: black !important;
    }
</style>
<div class="banner-container">
    <img class="banner" src="./Img/banner.jpg" alt="Nonton Godzilla x Kong" />
    <div class="overlay">
        <h1>Nonton Godzilla x Kong</h1>
        <p>Godzilla x Kong: Đế chế mới là một bộ phim điện ảnh Mỹ thuộc thể loại quái vật ra mắt năm 2024 được đạo diễn bởi Adam Wingard. Phim do hãng L+egendary Pictures và Warner Bros.</p>
        <button class="btn-watch">Xem ngay</button>
    </div>
</div>

<div style="margin-top: 50px" class="container-xxl">
    <div class="row justify-content-between">
        @await Html.PartialAsync("_FilterMovie", ViewData["Categories"])
        <div class="conten-main col-10">
            <div class="row justify-content-between">
                <div class="search-conten col-4">
                    <form asp-controller="Movie" asp-action="SearchMovie" method="get" class="input-group">
                        <input type="text" class="form-control" name="query" placeholder="Tìm kiếm...">
                        <div class="input-group-append">
                            <button class="btn btn-search btn-primary" type="submit">
                                <i class="fa-solid fa-magnifying-glass"></i>
                            </button>
                        </div>
                    </form>
                </div>
                <div class="keyword col-4">
                    <span class="keyword-item d-flex align-items-center selected">New</span>
                    <span class="keyword-item  d-flex align-items-center">Date</span>
                    <span class="keyword-item  d-flex align-items-center">Rating</span>
                </div>
            </div>
            <div class="row movie-cart">
                @if (!Model.Any())
                {
                    <div class="col-12 text-center">
                        <p>Hiện tại không có phim nào.</p>
                    </div>
                }
                else
                {
                    @foreach (var item in Model)
                    {
                        <div class="col-lg-3 col-md-6 col-sm-12 mb-3">
                            <div class="card">
                                <img src="@item.MainImageUrl" class="card-img-top" alt="Ảnh Phim">
                                <div class="card-body">
                                    <h5 class="title-movie">
                                        <a asp-area="" asp-controller="Movie" asp-action="DetailMovie" asp-route-Id="@item.Id">@item.Name</a>
                                    </h5>
                                    <div class="keyword">
                                        @foreach (var tag in item.MovieTags)
                                        {
                                            <span class="keyword-item selected">@tag.Name</span>
                                        }
                                        <span class="keyword-item selected">Phim hay</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    }
                }
            </div>
        </div>
    </div>
</div>