<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - E_Commerce</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css">

    <style>
        * {
            margin: 0px;
            padding: 0px;
        }

        body {
            background-color: white;
        }

        .navbar-toggler {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 40px;
            height: 40px;
        }

        .navbar-toggler-icon {
            display: flex;
            align-items: center;
            justify-content: center;
            font-size: 24px;
            color: white;
            width: 100%;
            height: 100%;
        }

        .form-control {
            flex-grow: 1; 
            padding-right: 35px; 
            padding-left: 30px; 
        }

        .search-icon {
            right: 100px; 
            top: 50%; 
            transform: translateY(-50%); 
            color: #000; 
            pointer-events: none; 
        }

        .nav-1 {
            padding: 10px;
            height: auto;
        }

            .nav-1 img {
                width: 200px;
                height: 100px;
            }

        .nav-2 {
            background-color: #615C99;
            color: white;
        }

        .footer-order .btn-danger {
            background-color: #F0592A !important;
            color: white !important; 
            border: none;
            border-radius: 0 20px 20px 0 !important; 
        }

            .footer-order .btn-danger:hover {
                opacity: 0.9; 
            }
    </style>
</head>

<body>
    <div class="header">
        <div class="nav">
            <div class="nav-1 d-flex flex-wrap justify-content-between align-items-center p-3">
                <div>
                    <a class="nav-logo" asp-area="" asp-controller="Home" asp-action="Index">
                        <img src="~/Img/Logo.png" alt="Logo SNAT" style="width: 166px;" />
                    </a>
                </div>

                <div class="nav-search d-flex flex-grow-1 mx-3 position-relative">
                    <input type="text" class="form-control" placeholder="Search..." />
                    <i class="fas fa-search position-absolute search-icon"></i>
                </div>

                <div class="nav-menu">
                    <ul class="nav-list-items d-flex list-unstyled m-0">
                        <li class="nav-item d-flex align-items-center mx-2">
                            <i class="far fa-bookmark"></i>
                            <a class="nav-link" asp-area="" asp-controller="Home" asp-action="Rank">Hạng</a>
                        </li>
                        <li class="nav-item d-flex align-items-center mx-2">
                            <i class="far fa-user"></i>
                            <a class="nav-link" asp-area="" asp-controller="Home" asp-action="Login">Tài khoản</a>
                        </li>
                        <li class="nav-item d-flex align-items-center mx-2">
                            <i class="fas fa-shopping-bag"></i>
                            <a class="nav-link" asp-area="" asp-controller="Home" asp-action="ProductDetail">Bộ sưu tập</a>
                        </li>
                        @* <li class="nav-item d-flex align-items-center mx-2">
                            <i class="fas fa-shopping-bag"></i>
                            <a class="nav-link" asp-area="" asp-controller="Home" asp-action="MovieManager">Quản lý phim</a>
                        </li>
                        <li class="nav-item d-flex align-items-center mx-2">
                            <i class="fa-solid fa-users"></i>
                            <a class="nav-link" asp-area="" asp-controller="Home" asp-action="UserManager">Quản lý người dùng</a>
                        </li> *@
                    </ul>
                </div>
            </div>

            <div class="nav-2">
                <nav class="navbar navbar-expand-lg">
                    <div class="container-fluid">
                        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                            <span class="navbar-toggler-icon"><i class="fa-solid fa-bars"></i></span>
                        </button>
                        <div class="collapse navbar-collapse" id="navbarNav">
                            <ul class="navbar-nav d-flex flex-wrap list-unstyled m-0">
                                <li class="nav-item mx-2">
                                    <a class="nav-link" asp-area="" asp-controller="Home" asp-action="">ĐỀ XUẤT</a>
                                </li>
                                <li class="nav-item mx-2">
                                    <a class="nav-link" asp-area="" asp-controller="Home" asp-action="">HÀNH ĐỘNG</a>
                                </li>
                                <li class="nav-item mx-2">
                                    <a class="nav-link" asp-area="" asp-controller="Home" asp-action="">TÌNH CẢM</a>
                                </li>
                                <li class="nav-item mx-2">
                                    <a class="nav-link" asp-area="" asp-controller="Home" asp-action="">HOẠT HÌNH</a>
                                </li>
                                <li class="nav-item mx-2">
                                    <a class="nav-link" asp-area="" asp-controller="Home" asp-action="">THÊM...</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </nav>
            </div>
        </div>
    </div>
    <div>
        <main role="main" class="container">
            @RenderBody()
        </main>
    </div>

    <div class="footer d-flex flex-wrap justify-content-around p-4 bg-light">
        <ul class="footer-order list-unstyled d-flex flex-column">
            <li class="footer-item mb-2">
                <a class="footer-link" asp-area="" asp-controller="Home" asp-action="">Company</a>
            </li>
            <li class="footer-item mb-2">
                <a class="footer-link" asp-area="" asp-controller="Home" asp-action="">About</a>
            </li>
            <li class="footer-item mb-2">
                <a class="footer-link" asp-area="" asp-controller="Home" asp-action="">FAQ</a>
            </li>
            <li class="footer-item mb-2">
                <a class="footer-link" asp-area="" asp-controller="Home" asp-action="">Resources</a>
            </li>
            <li class="footer-item mb-2">
                <a class="footer-link" asp-area="" asp-controller="Home" asp-action="">Contact Us</a>
            </li>
            <li class="footer-item mb-2">
                <a class="footer-link" asp-area="" asp-controller="Home" asp-action="">Site Map</a>
            </li>
        </ul>

        <ul class="footer-order list-unstyled d-flex flex-column">
            <li class="footer-item mb-2">
                <a class="footer-link" asp-area="" asp-controller="Home" asp-action="">Shop</a>
            </li>
            <li class="footer-item mb-2">
                <a class="footer-link" asp-area="" asp-controller="Home" asp-action="">Shipping</a>
            </li>
            <li class="footer-item mb-2">
                <a class="footer-link" asp-area="" asp-controller="Home" asp-action="">Prescription</a>
            </li>
            <li class="footer-item mb-2">
                <a class="footer-link" asp-area="" asp-controller="Home" asp-action="">Warranty & Returns</a>
            </li>
            <li class="footer-item mb-2">
                <a class="footer-link" asp-area="" asp-controller="Home" asp-action="">Mask Assurance</a>
            </li>
            <li class="footer-item mb-2">
                <a class="footer-link" asp-area="" asp-controller="Home" asp-action="">Manufacturers</a>
            </li>
        </ul>

        <ul class="footer-order list-unstyled d-flex flex-column">
            <li class="footer-item mb-2">
                <a class="footer-link" asp-area="" asp-controller="Home" asp-action="">Get Help</a>
            </li>
            <li class="footer-item mb-2">
                <a class="footer-link" asp-area="" asp-controller="Home" asp-action="">Reward Points</a>
            </li>
            <li class="footer-item mb-2">
                <a class="footer-link" asp-area="" asp-controller="Home" asp-action="">No Prescription?</a>
            </li>
            <li class="footer-item mb-2">
                <a class="footer-link" asp-area="" asp-controller="Home" asp-action="">CPAP Rental</a>
            </li>
            <li class="footer-item mb-2">
                <a class="footer-link" asp-area="" asp-controller="Home" asp-action="">New To CPAP</a>
            </li>
            <li class="footer-item mb-2">
                <a class="footer-link" asp-area="" asp-controller="Home" asp-action="">Privacy Policy</a>
            </li>
        </ul>

        <ul class="footer-order list-unstyled d-flex flex-column">
            <li class="footer-item mb-2">
                <a class="footer-link" asp-area="" asp-controller="Home" asp-action="">Sign Up for Our Newsletter</a>
            </li>
            <li class="footer-item mb-2">
                <a class="footer-link" asp-area="" asp-controller="Home" asp-action="">Be the first to know about our News and Great Deals!</a>
            </li>
            <li class="footer-item mb-3 d-flex">
                <input type="email" class="form-control" placeholder="Enter Email" />
                <button class="btn btn-danger text-white ms-2">Sign Up</button>
            </li>
        </ul>
    </div>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
</body>
</html>
