<div class="menu rounded-3 p-3">
    <h3 class="text-center">Menu</h3>
    <div class="menu-item p-2"><a asp-area="" asp-controller="MovieManagement" asp-action="MovieManagement">Quản lý phim</a></div>
    <div class="menu-item p-2"><a asp-area="" asp-controller="UserManagement" asp-action="UserManagement">Quản lý người dùng</a></div>
    <div class="menu-item p-2"><a asp-area="" asp-controller="MovieManagement" asp-action="MovieManagement">Quản lý doanh thu</a></div>
</div>
