<div class="menu rounded-3 p-3">
    <h3 class="text-center">Menu</h3>
    <div class="menu-item p-2">Quản lý phim</div>
    <div class="menu-item p-2">Quản lý người dùng</div>
    <div class="menu-item p-2">Quản lý doanh thu</div>
</div>
